{% extends 'base.html' %}

{% block content %}
    <h1>¿Estás seguro?</h1>
    <hr>
    <p>Estás a punto de eliminar permanentemente el taller:</p>
    
    <h3 class="my-3">"{{ taller.nombre }}"</h3>
    
    <p>Esta acción no se puede deshacer.</p>

    <form method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Sí, eliminar</button>
        <a href="{% url 'detalle_taller' taller.id %}" class="btn btn-secondary">No, cancelar</a>
    </form>
{% endblock %}